@model akb_master.server.Models.Description

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Description</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Polarity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Polarity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dimensions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dimensions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Starting_current)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Starting_current)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Performance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Performance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Guarantee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Guarantee)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
