@model IEnumerable<akb_master.server.Models.Description>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Polarity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dimensions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Starting_current)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Performance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guarantee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Polarity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dimensions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Starting_current)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Performance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Guarantee)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
